<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
</head>
<body>
    <form method="POST">  
        {%for i in data_users%}
             Delete {{i.username}}
                    <input type="submit" name="id" value={{i.id}} class="btn-primary"></button><br><br>
        {% endfor %}
    </form>

    <style>
        body {
            text-align: center;
            background-color: aliceblue;
        }

        h1 {
            font-family: fantasy;
            color: blue;
            font-size: 325%;
        }

        #user {
            width:350px;
            height:50px;
        }
    </style>
</body>
</html>