<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
</head>
<body>
    <form method="POST">  
        {%for i in data_users%}
            <p> 
                Delete {{i.username}}
                <input type="submit" name="id" value={{i.id}} class="btn-primary"></button> 
            </p>
        {% endfor %}
    </form>

    <style>
        body {
            text-align: center;
            background-color: aliceblue;
        }

        h1 {
            font-family: fantasy;
            color: blue;
            font-size: 325%;
        }

        #pass {
            width:350px;
            height:50px;
        }

        #user {
            width:350px;
            height:50px;
        }

        #sub {
            width: 150px;
            height: 50px;
            font-size: 125%;
        }
    </style>
</body>
</html>