<!DOCTYPE html>
<html>
<head>
    <title>Create Wishlist</title>
</head>

<body>

    <form action="{{ url_for("create_wishlist")}}", method="post">

        <h1>Enter a Wishlist to Add/Delete</h1>
        <input type="text" id="new_wishlist" name="new_wishlist" placeholder="Enter wishlist">
        <input type="submit" name="button" value="Add">
        <input type="submit" name="button" value="Delete">

        <br><br>
        <input type="submit" name="button" value="Go Back">
        
        <br><br><p>{{error}}</p>
    </form>
</body>
</html>