<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>
<body>
    <br><br><br>
    <h1>Wish Lists Saved in the Cloud</h1><br><br><br>
    <form method="POST">
        <input type="submit" id="loginButton" class="btn btn-success" value="Log In" name="button"><br><br><br>
        <input type="submit" id="createAccountButton" class="btn btn-warning" value="Create Account" name="button">
    </form>


    <style>
        body {
            text-align: center;
            background-color: aliceblue;
        }

        h1 {
            font-family: fantasy;
            color: blue;
            font-size: 325%;
        }

        #loginButton {
            width: 200px;
            height: 60px;
            font-size: 100%;
            color: black;
        }

        #createAccountButton {
            width: 200px;
            height: 60px;
            font-size: 100%;
        }
    </style>


    <script>

    </script>
</body>
</html>
