<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>
<body>
    <h1> Welcome! </h1>
    <br>
    <form method="POST">
        <input type="submit" class="btn btn-info" name="button" value="Log Out">
        <input type="submit" class="btn btn-info" name="button" value="See Wishlists">
        <input type="submit" class="btn btn-info" name="button" value="Create Wishlist">
    </form>

    <style>
        body {
            text-align: center;
        }
    </style>
</body>
</html>