<!DOCTYPE html>
<html>
<head>
    <title>User Wishlist</title>
</head>
<body>
    <form action="{{ url_for("user_wishlist")}}", method="post">

        <b><h1>{{ user }} Wishlists with Content</h1></b>

        {% for i in data_users%}
            {% for j in data_wishlist %}
                {% if j.user_id == i.id %}
                    {% if i.username == user %}

                        <u><b><p>{{j.wishlist_name}}</p></b></u>
                       
                        {% for content in data_content %}
                            {% if content.wishlist_id == j.id%}
                                <p>- {{ content.content }}</p>
                            {% endif %}
                        {% endfor %}

                    {% endif %}
                {% endif %}
            {% endfor %}

        {% endfor %}
        <input type="text" id="wishlist" name="wishlist" placeholder="Enter wishlist">

        <input type="text" id="new_content" name="new_content" placeholder="Enter content">
        <input type="submit" name="button" value="Add Content">
        <input type="submit" name="button" value="Delete Content">
        
        <p>{{error}}</p>
    </form>
</body>
</html>